@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1>Tasks</h1>
    <div>
        <p>
            @Html.ActionLink("Key Logger", "Index", "KeyLogger")
        </p>
        <p>
            @Html.ActionLink("Fake log in", "Index", "FakeLogin")
        </p>
        <p>
            @Html.ActionLink("UI redress", "Index", "IFrameClickJacking")
        </p>
        <p>
            @Html.ActionLink("Two factor authentication: SMS", "Index", "TwoFactorAuthenticationSMS")
        </p>
        <p>
            @Html.ActionLink("Two factor authentication TOTP: Google authenticator", "Index", "TwoFactorAuthenticationGoogleAuthenticator")
        </p>
        <p>
            @Html.ActionLink("Single sign on", "Index", "SingleSignOn")
        </p>
        <p>
            @Html.ActionLink("Lab1", "Login", "Lab1")
        </p>
        <p>
            @Html.ActionLink("Lab2", "Login", "Lab2")
        </p>
    </div>
</div>