@{
    ViewBag.Title = "M183";
}
<h2>Tasks</h2>
<div class="row">
    <div class="well">
        <p>
            @Html.ActionLink("XXS Key Logger", "Index", "KeyLogger")
        </p>
        <p>
            @Html.ActionLink("XSS Fake log in", "Index", "FakeLogin")
        </p>
        <p>
            @Html.ActionLink("UI redress", "Index", "IFrameClickJacking")
        </p>
        <p>
            @Html.ActionLink("Two factor authentication OTP: SMS", "Login", "TwoFactorAuthenticationSMS")
        </p>
        <p>
            @Html.ActionLink("Two factor authentication TOTP: Google authenticator", "Index", "TwoFactorAuthenticationGoogleAuthenticator")
        </p>
        <p>
            @Html.ActionLink("Single sign on", "Login", "SingleSignOn")
        </p>
        <p>
            @Html.ActionLink("Lab1", "Login", "Lab1")
        </p>
        <p>
            @Html.ActionLink("Lab2", "Login", "Lab2")
        </p>
        <p>
            @Html.ActionLink("Database XSS/SQL injection", "Index", "LabDatabaseXSSFilterSQLInjections")
        </p>
        <p>
            @Html.ActionLink("Encryption Cesar Cipher", "Index", "EncryptionCesarCipher")
        </p>
        <p>
            @Html.ActionLink("Encryption Vigenere Cipher", "Index", "EncryptionVigenereCipher")
        </p>
        <p>
            @Html.ActionLink("Encryption One Time Pad", "Index", "EncryptionOneTimePad")
        </p>
    </div>
</div>