<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="450005299882-ii35isdr3vti88osgii71jmueu6cljfe.apps.googleusercontent.com">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("M183", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (Session["IsLoggedIn"] != null )
                {
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            @* logout for other log in forms *@
                            @using (Html.BeginForm("Logout", "Home", FormMethod.Post))
                            {
                                //log out for single sign on
                                <input type="submit" value="Sign out" onclick="signOut()" />
                            }
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - M183</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script type="text/javascript">
        //log in function for single sign on
        function onSignIn(googleUser) {
            //token id
            var tokenID = googleUser.getAuthResponse().id_token;

            //get profile
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId());
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail());
            console.log('Token ID: ' + tokenID);

            //send the token to controller
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://localhost:' + window.location.port + '/SingleSignOn/SSOTokenSignIn');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function () {
                console.log('Signed in as: ' + xhr.responseText);
            }
            xhr.send('tokenid=' + tokenID);

        }

        //sign out function for single sign on
        function signOut() {
            if (gapi != null && gapi != undefined) {
                if (gapi.auth2 != null && gapi.auth2 != undefined) {
                    var auth2 = gapi.auth2.getAuthInstance();
                    auth2.signOut();
                }
            }
            
        }

    </script>
</body>
</html>
